@model HRMS.EntityDto.LeaveApplicationDto

@{
    ViewData["Title"] = "Create Leave Application";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 style="text-align: center;">Add Leave Request</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label">Employee</label>
                        <select asp-for="EmployeeId" class="form-control">
                            <option value="">Select Employee</option>
                            @if (ViewBag.Employees != null)
                            {
                                foreach (var employee in ViewBag.Employees)
                                {
                                    <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label">Department</label>
                        <select asp-for="DepartmentId" class="form-control">
                            <option value="">Select Department</option>
                            @if (ViewBag.Departments != null)
                            {
                                foreach (var department in ViewBag.Departments)
                                {
                                    <option value="@department.DepartmentId">@department.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="TypeOfLeave" class="control-label">Type of Leave</label>
                        <select asp-for="TypeOfLeave" class="form-control">
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Casual Leave">Casual Leave</option>
                            <option value="Annual Leave">Annual Leave</option>
                        </select>
                        <span asp-validation-for="TypeOfLeave" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Leave Duration</label>
                        <div class="form-check">
                            <input asp-for="HalfDay" class="form-check-input" />
                            <label class="form-check-label">Half Day</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="FullDay" class="form-check-input" />
                            <label class="form-check-label">Full Day</label>
                        </div>
                        <span asp-validation-for="HalfDay" class="text-danger"></span>
                        <span asp-validation-for="FullDay" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Start Date</label>
                        <input asp-for="StartDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">End Date</label>
                        <input asp-for="EndDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label">Reason</label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ApproverId" class="control-label">Approver</label>
                        <select asp-for="ApproverId" class="form-control">
                            <option value="">Select Approver</option>
                            @foreach (var employee in ViewBag.Employees)
                            {
                                <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName (@employee.Position)</option>
                            }
                        </select>
                        <span asp-validation-for="ApproverId" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
