@model IEnumerable<HRMS.EntityDto.LeaveApplicationDto>
@{
    ViewData["Title"] = "Leave History";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h2>Leave History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Approver Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Half Day</th>
            <th>Full Day</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Type Of Leave</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td>@(item.Approver != null ? $"{item.Approver.FirstName} {item.Approver.LastName}" : "-")</td>
                <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                <td>@item.EndDate.ToString("dd-MM-yyyy")</td>
                <td>@item.HalfDay</td>
                <td>@item.FullDay</td>
                <td>@item.Reason</td>
                <td>@item.Status</td>
                <td>@item.TypeOfLeave</td>
            </tr>
        }
    </tbody>
</table>
